.vs/
ARM/
Debug/
packages/
.workspace/
OpenGLESApp1/OpenGLESApp1.Shared/CMakeFiles/
OpenGLESApp1/OpenGLESApp1.Shared/CMakeCache.txt
OpenGLESApp1/OpenGLESApp1.Shared/final.js
OpenGLESApp1/OpenGLESApp1.Shared/libSGSWeb.bc
OpenGLESApp1/OpenGLESApp1.Shared/final.data
OpenGLESApp1/OpenGLESApp1.Shared/final.html
OpenGLESApp1/OpenGLESApp1.Shared/final.html.mem
OpenGLESApp1/OpenGLESApp1.WindowsUniversal.Application/x64/
OpenGLESApp1/OpenGLESApp1.WindowsUniversal.StaticLibrary/x64/
x64/
